body {
    background-color: #fffff3;
}

div.owner {
    position: absolute;
    bottom: 1em;
}

div.wrapper {
    width: 1173px;
    margin-left: auto;
    margin-right: auto;
}

div.column {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 99%;
    border-style: solid;
    border-width: thin;
    border-color: #999;
    background-color: #fff;
}

.margin {
    padding: 0em 1em;
}

.card {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-width: thin;
    border-color: #09f;
}

ul.no-bullet {
    padding: 0px 10px;
}

ul.no-bullet li {
    list-style-type: none;
}

tr:nth-child(even) {
    background: #ddd;
}

tr:nth-child(odd) {
    background: #FFF;
}

tr td:not(:first-child) {
    text-align: right;
}

button[name='sid'] {
    position: absolute;
    padding: 0px;
    border:  0px;
    margin:  0px;
}

button:not([disabled]) {
    cursor: pointer;
    font-weight: bold;
}

button[disabled] {
    background-color: #fdd;
}

.arrow {
    position: absolute;
    padding: 0px;
    border:  0px;
    margin:  0px;
}

img.unskillful {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
            filter: grayscale(100%);
}

img.fix-size {
    height: 78px;
    width:  78px;
}

img#logo {
    height: 42px;
}
